
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;

}

.chartItems {
}

.itemAll {

  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}


.itemSector{

  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 400px;
}


