
.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.item {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}
// .content {
//   background-color: lightslategrey;
//   display: flex;
//   align-items: center;
//   justify-content: flex-start;
//   flex-direction: column;  
//   min-height: calc(100vh - 100px);
// }


// .dataArea {
//   height: calc(100vh - 100px);
//   display: block;
//   min-height: 200px;
//   overflow-y: auto;
//   width: 100%;
// }
