
.container {
  height: 100%;
  width: 100%;
}

.chartItems {
  height: 100%;
  width: 100%;
}

.itemAll {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 30%;
}


.itemSector{
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 70%;
}


