{
  "plugins": [
    "react",
    "jsx-a11y"
  ],
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6":     true,
    "browser": true,
    "node":    true,
    "jest":   true
  },   
  "extends": [
    "plugin:jsx-a11y/recommended",
    "plugin:react/recommended",
    "eslint:recommended",
    "react-app"
  ],    
  "rules": {
    "react/jsx-uses-react": 2,
    "no-unused-vars": 1,
    "no-console": 1,
    "semi": 2,
    "linebreak-style": 0
  },
  "settings": {
    "react": {
      "createClass": "createReactClass", 
      "pragma": "React",  
      "version": "detect",                     
      "flowVersion": "0.53"
      },
      "propWrapperFunctions": [
          "forbidExtraProps",
          {"property": "freeze", "object": "Object"},
          {"property": "myFavoriteWrapper"}
      ]
  }
}