thead th { position: sticky; top: 0; }

table th,
table td{
  border: 1px solid rgba(51, 53, 49, 0.26);
  padding: .5em 1em;
  text-align: left;
}

table th{ background: darkgray; }

.name {
  text-align: left;
}
